.music-container {
  align-items: center;
  border: 2px solid rgb(30, 165, 48);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10px;
}

.music-container h4 {
  margin: 20px 10px 0 7em;
  text-align: center;
}

.song-and-fav {
  align-items: center;
  display: flex;
}

.song-and-fav img {
  height: 100%;
  margin: 0 20px 20px 0;
}

.song-and-fav audio {
  height: 30px;
  margin-right: 25px;
  width: 150px;
}

.song-and-fav label {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.song-and-fav label input {
  height: 30px;
}

@media screen and ( min-width : 780px ) {

  .music-container {
    width: 50%;
  }
}

@media screen and ( min-width : 1332px ) {

  .music-container {
    width: 25%;
  }
}

