.music-container {
  align-items: center;
  border: 1px solid rgb(30, 165, 48);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.music-container h4 {
  margin: 20px 10px 0 40%;
  text-align: center;
}

.song-and-fav {
  align-items: center;
  display: flex;
}

.song-and-fav img {
  height: 100%;
  margin: 0 10px 20px 0;
}

.song-and-fav audio {
  height: 60px;
  margin-right: 25px;
  width: 150px;
}

.song-and-fav label {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.song-and-fav label input {
  margin-top: 10px;
}
