.music-container {
  align-items: center;
  background-color: rgb(30, 165, 48, 0.1);
  border: 2px solid rgb(30, 165, 48);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0.7em;
}

.song-and-fav {
  align-items: center;
  display: flex;
  justify-content: center;
}

.song-and-fav img {
  border-radius: 1.5em;
  cursor: pointer;
  width: 1.5em;
}

.song-and-fav audio {
  height: 1.7em;
  margin-right: 1em;
  width: 7.5em;
}

@media screen and ( max-width : 280px ) {

  .song-and-fav audio {
    margin-right: 1em;
    width: 6em;
  }

  .music-container {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .music-container h4 {
    margin-bottom: 10px;
  }
}

@media screen and ( min-width : 780px ) {

  .song-and-fav audio {
    height: 30px;
    margin-right: 1em;
    width: 10em;
  }

  .music-container {
    margin: 0 10em;
    margin-bottom: 10px;
  }
}

@media screen and ( min-width : 1332px ) {

  .song-and-fav audio {
    margin-right: 3em;
  }
}
