/* stylelint-disable color-named */
.login-body {
  background-color: #000;
  color: #fff;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  font-size: 3em;
}

.login-form input {
  background-color: #fff;
  border-radius: 15px;
  color: #000;
  font-size: 1.5em;
  font-style: italic;
  height: 20px;
  margin: 25px;
  text-align: center;
  width: 170px;
}
