/* stylelint-disable color-named */
body {
  background-color: #000;
  color: #fff;
}

.form-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 40px;
}

.form-container input {
  border-radius: 15px;
  font-size: 1.2em;
  height: 30px;
  margin-right: 15px;
  width: 200px;
}

.form-container button {
  background-color: #fff;
  border-radius: 15px;
  color: #000;
  font-size: 0.7em;
  height: 30px;
  width: 80px;
}

.form-container button:hover {
  background-color: rgb(30, 165, 48);
  cursor: pointer;
}

.albuns-title {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.albuns-container {
  display: flex;
  flex-direction: column;
}

