/* stylelint-disable color-named */
.header {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 5em;
  justify-content: center;
}

.header p {
  font-size: 1.5rem;
  margin-top: 40px;
  padding-bottom: 20px;
}

.nav-container {
  display: flex;
  font-size: 1.1rem;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.nav-container a {
  color: #fff;
  margin-right: 30px;
  padding-bottom: 20px;
  text-decoration: none;
}

.nav-container a:hover {
  color: rgb(173, 173, 173);
}

.nav-container .search-nav {
  color: rgb(30, 165, 48);
  font-weight: 900;
}

.nav-container .favorites-nav {
  color: rgb(30, 165, 48);
  font-weight: 900;
}

.nav-container .profile-nav {
  color: rgb(30, 165, 48);
  font-weight: 900;
}


@media screen and ( min-width : 1332px ) {

  .header p {
    font-size: 2rem;
  }

  .nav-container {
    font-size: 1.5rem;
  }
}
