.profile-section {
  align-self: center;
  border: 2px solid rgb(30, 165, 48);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20vh auto;
  padding: 1.5em;
  width: 80%;
}

.profile-section h4, h5 {
  margin: 10px 0 5px 20px;
}

.profile-section h4 {
  color: rgb(30, 165, 48);
}

.profile-section h5 {
  font-size: 1em;
  font-weight: 400;
}

.edit-and-logo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px 20px;
}

.edit-and-logo img {
  height: 70px;
  width: 70px;
}

.edit-and-logo button {
  margin-right: 3em;
}

.description {
  margin: 20px 0 10px 20px;
}

.description h4 {
  margin: 0 0 10px;
}

@media screen and ( min-width : 760px ) {

  .profile-section {
    width: 50%;
  }

}

@media screen and ( min-width : 1332px ) {

  .profile-section {
    width: 30%;
  }

}
